p {
    font-size: 50px;
    font-family: monospace;
    text-align: center; 
    /* margin: auto; */
}

p:hover {
    color: gray;
}

p.title {
    color: goldenrod;
}

p.title:hover {
    color:chocolate
}

p.bottom_message {
    font-family: monospace;
    font-size: 12px;
}

p.bottom_message:hover {
    color: #0366d6;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-family: Times New Roman;
}

button:hover {
    color: brown;
}

